vendor/
node_modules/
.env
.next/
storage/*.key
.idea/
.vscode/
*.log
.DS_Store
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/mobile/.pub-cache/
/mobile/.pub/
/mobile/build/
/admin/node_modules/
/backend/vendor/
/backend/storage/*.log
/backend/storage/framework/cache/data/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*.php
/backend/storage/framework/testing/*
/backend/public/storage
